.Post {
  width: 96%;
  /* min-height: 400px; */
  height: 96.5%;
  /* max-height: fit-content; */
  border: transparent;
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.082);
  box-sizing: border-box;
  margin: 5px auto;
  /* padding-bottom: 4px; */
  background-color: #f8f8f8;
  position: relative;
}
.Post_Dark {
  width: 96%;
  /* min-height: 400px; */
  height: 96.8%;
  /* max-height: auto; */
  border: transparent;
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0 5px 10px #00000060;
  box-sizing: border-box;
  margin: 5px auto;
  /* padding-bottom: 4px; */
  background-color: #444444;
  position: relative;
}

.Post, .Post_Dark {
  animation: all 0.2s linear;
}

.Post a {
  text-decoration: none;
  color: black;
  word-wrap: break-word;
  flex-wrap: wrap;
}
.Post_Dark a {
  text-decoration: none;
  color: white;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.ImgContainer {
  margin: 0;
  width: 100%;
  height: 176.3px;
  border: transparent;
  border-radius: 10px 10px 0 0;
  background-color: #979797;
}

.ImgContainer img {
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 10px 10px 0 0;
}

.Content {
  margin: 6px 20px;
}
.Content p {
  color: #868686;
}

.PostTitle {
  margin: 5px auto 5px auto;
  text-justify: auto;
}

.Description {
  margin: auto;
  position: absolute;
  top: 61%;
  margin: 0 auto 0 10px;
}

.AdditionalInfo {
  position: absolute;
  top: 83%;
  margin-bottom: 9px;
  font-size: 15px;
}

.ControlContainer {
  width: 100%;
  margin: 13.5px auto 5px auto;
  position: absolute;
  top: 91%;
}

.PreLoad_ControlContainer {
  position: absolute;
  top: 91%;
  height: 21.5px;
  width: 100%;
}

.PreLoad_ImgContainer {
  margin: 0;
  width: 100%;
  height: 176.3px;
  border: transparent;
  border-radius: 10px 10px 0 0;
  background-color: #979797;
  animation: PLImageContainer 3s infinite;
}

@keyframes PLImageContainer {
  0% {
    background-color: hsl(0, 0%, 59%);
  }
  5% {
    background-color: hsl(0, 0%, 55%);
  }
  10% {
    background-color: hsl(0, 0%, 50%);
  }
  15% {
    background-color: hsl(0, 0%, 45%);
  }
  20% {
    background-color: hsl(0, 0%, 50%);
  }
  25% {
    background-color: hsl(0, 0%, 55%);
  }
  30% {
    background-color: hsl(0, 0%, 55%);
  }
  35% {
    background-color: hsl(0, 0%, 50%);
  }
  40% {
    background-color: hsl(0, 0%, 45%);
  }
  45% {
    background-color: hsl(0, 0%, 50%);
  }
  50% {
    background-color: hsl(0, 0%, 55%);
  }
  55% {
    background-color: hsl(0, 0%, 59%);
  }
  60% {
    background-color: hsl(0, 0%, 55%);
  }
  65% {
    background-color: hsl(0, 0%, 50%);
  }
  70% {
    background-color: hsl(0, 0%, 45%);
  }
  75% {
    background-color: hsl(0, 0%, 50%);
  }
  80% {
    background-color: hsl(0, 0%, 55%);
  }
  85% {
    background-color: hsl(0, 0%, 55%);
  }
  90% {
    background-color: hsl(0, 0%, 50%);
  }
  95% {
    background-color: hsl(0, 0%, 45%);
  }
  100% {
    background-color: hsl(0, 0%, 50%);
  }
}

@media (max-width: 705px) {
  .Post,
  .Post_Dark {
    height: 420px;
  }
}
