.Main {
  margin: 10px auto 15px auto;
  width: 750px;
  height: auto;
  background-color: #f8f8f8;
  display: flex;
  border: transparent;
  border-radius: 10px 12px 12px 10px;
  box-shadow: 0 5px 10px #00000016;
  direction: rtl;
  position: relative;
}
.Main a {
  color: black;
  text-decoration: none;
}

.Dark {
  box-shadow: 0 5px 10px #00000060;
}

.ImgContainer {
  width: 42%;
  height: 201.233px;
  border: transparent;
  border-radius: 0px 10px 10px 0px;
  background-color: #979797;
}
.ImgContainer img {
  width: 100%;
  height: 100%;
  border: transparent;
  border-radius: 0px 10px 10px 0px;
}

.Content {
  width: 52%;
  height: auto;
  margin: 0px 15px 0px 15%;
}
.Content p {
  color: #828282;
}

.Title {
  margin: 7px auto;
}

.Description {
  margin: 7px auto 25px 6px;
  position: absolute;
  top: 30%;
}

.AdditionalInfo {
  position: absolute;
  top: 81%;
  font-size: 14.5px;
  margin: 7px auto;
}

.PreLoad_ImgContainer {
  width: 42%;
  height: 201.233px;
  border: transparent;
  border-radius: 0px 10px 10px 0px;
  background-color: #979797;
  animation: PLImageContainer 3s infinite;
}

@keyframes PLImageContainer {
  0% {
    background-color: hsl(0, 0%, 59%);
  }
  5% {
    background-color: hsl(0, 0%, 55%);
  }
  10% {
    background-color: hsl(0, 0%, 50%);
  }
  15% {
    background-color: hsl(0, 0%, 45%);
  }
  20% {
    background-color: hsl(0, 0%, 50%);
  }
  25% {
    background-color: hsl(0, 0%, 55%);
  }
  30% {
    background-color: hsl(0, 0%, 55%);
  }
  35% {
    background-color: hsl(0, 0%, 50%);
  }
  40% {
    background-color: hsl(0, 0%, 45%);
  }
  45% {
    background-color: hsl(0, 0%, 50%);
  }
  50% {
    background-color: hsl(0, 0%, 55%);
  }
  55% {
    background-color: hsl(0, 0%, 59%);
  }
  60% {
    background-color: hsl(0, 0%, 55%);
  }
  65% {
    background-color: hsl(0, 0%, 50%);
  }
  70% {
    background-color: hsl(0, 0%, 45%);
  }
  75% {
    background-color: hsl(0, 0%, 50%);
  }
  80% {
    background-color: hsl(0, 0%, 55%);
  }
  85% {
    background-color: hsl(0, 0%, 55%);
  }
  90% {
    background-color: hsl(0, 0%, 50%);
  }
  95% {
    background-color: hsl(0, 0%, 45%);
  }
  100% {
    background-color: hsl(0, 0%, 50%);
  }
}

@media (max-width: 820px) {
  .Main {
    width: 98%;
  }
}

@media (max-width: 600px) {
  .Main {
    width: 95%;
    height: 250px;
  }

  .ImgContainer,
  .PreLoad_ImgContainer {
    width: 110px;
    height: 110px;
    border-radius: 0px 10px 0px 0px;
  }

  .Content {
    max-width: 55%;
    /* width: auto; */
  }

  .Description {
    top: 35%;
  }

  .AdditionalInfo {
    top: 79%;
    margin-left: 20px;
  }
}

@media (max-width: 460px) {
  .Main {
    width: 95%;
    height: 280px;
  }

  .ImgContainer, 
  .ImgContainer img,
  .PreLoad_ImgContainer {
    width: 110px;
    height: 110px;
    border-radius: 0px 10px 0px 0px;
  }

  .Content {
    max-width: 57%;
    width: auto;
  }

  .Description {
    top: 40%;
  }

  .AdditionalInfo {
    top: 80%;
    margin-left: 20px;
  }
}
