.Main {
    width: 33.3%;
    height: auto;
    margin-top: 4px;
    align-items: center;
    background-color: transparent;
}

@media (max-width: 1080px) {
    .Main {
        width: 49%;
    }
}

@media (max-width: 705px ) {
    .Main {
        width: 100%;
        margin-top: 15px;
    }
}